/* NOTION CSS OVERRIDE */

.notion {
  font-family: Pretendard, Roboto, sans-serif;
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-7;
  @apply p-0;
  @apply my-1;
}

.notion-toggle {
  @apply w-full;
}

.notion-list li {
  @apply py-0;
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*="language-"] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}

.notion-hr {
  border-top: 1px solid rgba(55, 53, 47, 0.16);
}

.notion-table-of-contents {
  position: fixed;
  right: -75%;
  top: 150px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1800px) {
  .notion-table-of-contents {
    right: -80%;
  }
}

@media screen and (max-width: 1500px) {
  .notion-table-of-contents {
    position: static;
  }
}

.notion-table-of-contents a {
  padding: 0;
  margin-bottom: 10px;
}

.notion-table-of-contents a:hover {
  background: none;
}

.notion-table-of-contents span {
  padding: 2px 2px;
  line-height: 1.3;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--bg-color-0) 50%
  );
  background-size: 200%;
  transition: 0.35s;
}

.notion-table-of-contents span:hover {
  background-position: -100% 0;
}
